body{
    font-family: 'Tahoma', sans-serif;
    background-color: #313030;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.todo-container{
    background-color: #ffffff99;
    padding: 120px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
    color: #000;
}
.todo-form{
    margin-bottom: 20px;
}
input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 60%;
}
button{
    padding: 8px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #4caf50;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin: 8px 0;
    padding: 8px;
    background-color: #fffffffa;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li.completed{
    text-decoration: line-through;
    color: #888;
}
.delete-button{
    background-color: #e74c3c;
    color: #ffff;
    border: none;
    padding: 4px;
    cursor: pointer;
}
.delete-button:hover{
    background-color: #a02113;
}